/*colors*/
.input-group {
  display: table;
  width: 100%;
  margin-bottom: 15px;
}
.input-group .label,
.input-group .input,
.input-group .select {
  display: table-cell;
}
.input-group .label {
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
}
.input[type="text"] {
  width: 70%;
  border-radius: 4px;
  outline: none;
  border: 1px solid #E3E3E3;
  padding: 6px 8px;
  box-sizing: border-box;
}
.select {
  width: 70%;
  border-radius: 4px;
  outline: none;
  border: 1px solid #E3E3E3;
  padding: 6px 8px;
}
