@import "variables";
@import "table";
@import "button";
@import "pagination";
@import "input";
@import "read";
@import "columns";

* {
  margin: 0;
  padding: 0;
}

body, html {
  color: @main-color;
  font-size: @main-font-size;
  font-family: @main-font-family, sans-serif;
  height: 100%;
}

.wrapper {
  width: @main-width;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: @footer-height;
}

.footer {
  margin: 0 auto;
  width: @main-width;
  height: @footer-height;
  position: relative;
  text-align: center;
  margin-top: -@footer-height;
}

.footer__title,
.footer__link {
  margin-bottom: @main-margin-bottom;
}

.footer__title {
  color: lighten(@main-color, 50%);
}

.footer__link {
  font-size: @main-font-size + 1px;

  a {
    margin: 0 8px;
  }
}

.title-site {
  font-size: 42px;
  font-weight: @bold;
  text-align: center;
  border-bottom: 1px solid @main-border-color;
  padding: 15px 0;
  margin-bottom: @main-margin-bottom;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  color: @main-color;

  &:hover {
    color: @main-color-hover;
  }
}

/*top-menu*/
.top-menu {
  list-style-type: none;
  margin-bottom: @main-margin-bottom;

  .clearfix-after();
}

.top-menu li {
  float: left;
  display: inline-block;
  font-weight: @bold;

  a {
    text-decoration: none;
    padding: 8px 8px;
    display: inline-block;
  }
}

/*helper*/
.inline-block {
  display: inline-block;
}

.block-simple {
  margin-bottom: @main-margin-bottom;
}

.clearfix {
  clear: both;
}

.clearfix-mod {
  .clearfix-after();
}

.block-simple__line {
  margin: 15px 0;
  border-bottom: 1px solid @main-border-color;
}

.block-simple__title {
  font-weight: @bold;
  font-size: @main-font-size + 2px;
  margin-bottom: @main-margin-bottom;

  &_center {
    text-align: center;
  }
}

.block-simple__content {

}

/*card*/
@card-title-bg-color: #f0f3f5;

.book-card {
  border: 1px solid @main-border-color;
  margin-bottom: @main-margin-bottom;
  box-sizing: border-box;

  & > .book-card__title {
    font-size: 24px;
  }
}

.book-card__title,
.book-card__description {
  background-color: @card-title-bg-color;
}

.book-card__title {
  padding: 15px 15px 0;
}

.book-card__description {
  max-height: 50px;
  min-height: 50px;
  padding: 15px 15px 15px;
}

.book-card__link {
  .clearfix-after();
  float: right;
}

.book-card__read {
  text-align: center;
  background-color: darken(@card-title-bg-color, 15%);

  a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 4px;
  }
}