@import "variables";

.node-read {
  border: 1px solid @main-border-color;
}

.node-read__title,
.node-read__text,
.node-read__item {
  padding: 15px;
}

.node-read__title {
  background-color: darken(@color-gray, 10%);
}

.node-read__text {

}

.node-read__items {

}

.node-read__item {
  border-top: 1px solid @main-border-color ;
  background-color: @color-gray;
}